{% extends 'customerbase.html' %}
{% load static %}
{% block content %}

<!-- Cart Page Content -->
<div class="container py-5">
    <h2 class="text-center mb-4">Your Cart</h2>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- Cart List -->
            <div class="list-group">
                {% for item in cart_items %}
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img src="{{ item.product.img.url }}" alt="{{ item.product.name }} Image" class="img-fluid" style="width: 50px; height: 50px; margin-right: 15px;">
                        <div>
                            <h5 class="mb-1">{{ item.product.name }}</h5>
                            <div class="d-flex align-items-center">
                                <a href="{% url 'add_to_cart' item.product.id %}"><button class="btn btn-sm btn-outline-primary me-2">+</button></a>
                                <span class="quantity">{{ item.quantity }}</span>
                                <a href="{% url 'decrement_cart' item.product.id %}"><button class="btn btn-sm btn-outline-primary ms-2">-</button></a>
                            </div>
                            <small>Price: ₹{{ item.product.price }}</small>
                        </div>
                    </div>
                    <div>
                        <a href="{% url 'remove_from_cart' item.product.id %}" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i> Remove</a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Cart Total -->
            {% if cart_item_count == 0 %}
                <h5>Your cart is empty.</h5>
            {% else %}
                <div class="mt-4 text-end">
                    <h4>Total: ₹{{ total_price }}</h4>
                    <a href="{% url 'checkout' %}" class="btn btn-primary">Proceed to Checkout</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Cart Page Content End -->

{% endblock %}
