{% extends 'customerbase.html' %}
{% load static %}
{% block content %}


    <!-- Products Section Start -->
    <div class="container py-5">
        <div class="row">
            <!-- Product 1 -->
            {% for i in pr %}

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card border-0 shadow-sm">
                <a href="{{i.get_url}}" >  <img src="{{i.img.url}}" class="card-img-top" alt="Product 1"></a>
                    <div class="card-body text-center">
                        <h5 class="card-title"><a href="{{i.get_url}}">{{i.name}}</a></h5>
                        <div class="cat">
									<span>{{i.category}}</span>
								</div>
                        <p class="card-text">{{i.price}}</p>
                        <p class="card-text">{{i.stock}}</p>
                        <a href="{% url 'addcart' i.id %}">  <button class="btn btn-primary">Add to Cart</button> </a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <!-- Products Section End -->
    <!--------------------------Pagination----------------------------->

					<div class="row my-5">
						<div class="col-md-3 offset-md-5">

							<nav aria-label="Page navigation example">
								<ul class="pagination">
									{% if pr.has_previous %}
									<li class="page-item"><a class="page-link" href="?page={{ pr.previous_page_number }}">Previous</a>
									</li>
									{% endif %}

									{% for i in pr.paginator.page_range %}
									<li class="page-item{% if pr.number == i %} active{% endif %}">
										<a class="page-link" href="?page={{i}}">{{i}}</a>
									</li>
									{% endfor %}

									{% if pr.has_next %}
									<li class="page-item"><a class="page-link" href="?page={{ pr.next_page_number }}">Next</a>
									</li>
									{% endif %}
								</ul>

							</nav>
						</div>
					</div>
				  </div>
    <!--------------------------Pagination  end----------------------------->

{% endblock %}
